* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%
}

:root {
    --body--bg-color: rgb(254, 225, 1);
    --quiz--box-bgColor:linear-gradient(to bottom right , rgb(34, 1, 114) 60%, rgb(79, 118, 247));
    --text-color: #fff;
    --dot-color: rgb(255, 21, 116);
    --submit-btn: linear-gradient(to right, rgb(255, 21, 116), rgb(254, 225, 1));
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    background-color: var(--body--bg-color);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.quizzes-box {
    background: var(--quiz--box-bgColor);
    color: var(--text-color);
    flex-direction: column;
    width: 50%;
    padding: 1.5rem;
    border-radius: 2rem;
}

.box {
    flex-direction: column;

    & h2 {
        width: auto;
        margin: 2rem 0;
        padding: 3rem;
        border: 4px solid #e6c135;
        border-image: linear-gradient(to right, grey 25%, yellow 25%, yellow 50%, red 50%, red 75%, teal 75%) 5;
        border-bottom-right-radius: 5rem;
    }

}

.all-option {
    padding-left: 2rem;
}

.options-row {
    margin-bottom: 1rem;
}

label {
    margin-left: .8rem;
}

.submit-btn {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    /* margin: 2rem 0 1.5rem 2rem; */
}
.com-btn {
    width: 35%;
    padding:.5rem 1rem;
    margin-top: 1.5rem;
    background: var(--submit-btn);
    border: 1px solid #e6c135;
    border-radius: 1rem;
    color: rgb(34, 1, 114);
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: all 1s ease;
    cursor: pointer;
}
.com-btn:hover{
   color: var(--text-color);
   box-shadow: 0 0 2px 1px rgb(255, 255, 255);
}

input[type="radio"] {
    scale: 1.4;
    accent-color: var(--dot-color);
}

.dot-box {
    background-color: var(--dot-color);
    position: absolute;
    z-index: 1;
    /* opacity: 0.5; */
    box-shadow: 0 0 5px 5px rgba(255, 21, 116, .5);
    animation: dotAnimation 2s alternate ease-in-out infinite;
    transition: all 1s ease;
    cursor: pointer;
}

.dot-box:hover {
    scale: 1.5
}

.dot-box1,
.dot-box2,
.dot-box7 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dot-box1 {
    top: 15%;
    left: 50%;
}

.dot-box7 {
    top: 55%;
    left: 55%;
}

.dot-box2 {
    bottom: 35%;
    right: 30%;
}

.dot-box3,
.dot-box4 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.dot-box3 {
    top: 25%;
    left: 30%;
}

.dot-box4 {
    top: 35%;
    right: 30%;
}

.dot-box5,
.dot-box6 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.dot-box5 {
    bottom: 25%;
    left: 28%;
}

.dot-box6 {
    top: 18%;
    right: 25%;
}

.dot-box8,
.dot-box9,
.dot-box10 {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.dot-box8 {
    top: 15%;
    left: 20%;
}

.dot-box9 {
    bottom: 10%;
    left: 45%;
}

.dot-box10 {
    top: 10%;
    right: 15%;
}

@keyframes dotAnimation {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 0.5;
        
    }

    40% {
        opacity: 0.7;
        
    }

    60% {
        opacity: 0.9;
        
    }

    100% {
        opacity: 1;
        

    }
}

@media (max-width:1024px) {
    .quizzes-box {
        width: 70%;
    }
   
}
@media (max-width:650px) {
    .quizzes-box {
        width: 90%;
    }
    .submit-btn{
        flex-direction: column;
        gap: .2rem;
    }
    .com-btn{
        width: 80%;
    }
    .box h2{
        padding: 1.5rem;
    }
    
.dot-box5 {
    bottom: 20%;
    left: 15%;
}
.dot-box9 {
    bottom: 5%;
    left: 80%;
}
.dot-box8 {
    top: 3%;
}
.dot-box3 {
    left: 10%;
}
}